*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#0E1014 ;
    color: white;
}
nav img{
    display: block;
    margin-top: 75px;
    margin-left: 360px;
}
h1{
    font-family: "unbounded" , sans-serif;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    margin: 60px;
}
h1 span{
    color: #9747FF;

}

p{
    font-family: "poppins", serif;
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 24px auto 0;
}

a {
    color: #ffffff;
    font-family: "poppins", serif; 
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}
a:hover{
    background-color: #8233E8;
}

 main img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}



@media(max-width:768px){
    nav img{
        margin: 65px 0 0 60px;
    }
    p {
        width: 648px;
    }
}

@media(max-width:375px){
     nav img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }
    p {
        font-size: 20px;
        width: 341px;
    }
    a {
        width: 251px;
    }
    main img{
        width: 341px;
        height: 230px;
    }
}